# PYTHON PROGRAMMING LANGUAGE

# What is python?

1.Python is powerful programming language.

2.Specially used in data science,machine learning to solve daily life real-time problems and providing the solutions.

3.Python is a high-level,intrepeted,interactive and object oriented scripting langauge.

# History of Python language:
    
1.Python was developed by "Guido Van Rossum" in late 1980's in National Research Institute for Mathematics and Computer Science in Netherlands.

2.Python was derived from many other languages including ABC,Modulo-3,C,C++,Algol=68,SmallTalk,Unix shell and other scripting languages.

# Why python?

1.Easy to understand

2.Easy syntax

3.Beginner friendly

4.Supports multiple libraries 

5.Supports OOP's

6.Easy installation

# Applications of python

1.Web applications

2.Desktop applications

3.Database applications

4.Web scraping

5.Wen mapping

6.Data analysis

7.Interactive web visualization

8.Computer vision and image processing etc.,

# INTERNAL WORKING OF PYTHON

# 1.Python identifiers:

1.A Python identifier is a name used to identify variable,function,class ,module or other objects.

2.A identifier starts with a letter (a-z),(A-Z) or an underscore(_) followed by zero or more letters,and digits(0-9).

# Naming conventions for identifiers:
    
1.class names start with an uppercase letter .All the other identifiers start with a lower case letter.

2.Starting an identifier with a single leading underscore indicates that the identifier is "private".

3.starting an identifier with two leading underscores indicates "strongly private".

4.If the identifier also ends with two trailing underscore ,the identifier is a language defined special name.

# Python keywords:
    
1.Keywords are reserved words.

2.cannot use them as constant or varaible.

3.all the keywords except "True","False" and "None" are in lower case.

4.they are 35 keywords present in python

In [ ]:
#code to print all the keywords present in python
import keyword
print(keyword.kwlist)
a=len(keyword.kwlist)
print(a)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

# Indentation in python:
    
1.In C,C++,the indentation is specified by using the flower brackdets{}.

2.In python,indentation is done by 4 white spaces or tab.

# Python comments:

In python we have 2 types of comments such as follow:

1.single line comment(specified using single or double quotes).

2.multi line comment(specified using doc sring).

In [ ]:
#single line comment--->shows the single line comment.
print('hello my dear friends')

hello my dear friends

In [ ]:
"""
multi line comment
how are you all
have a nice day guys
"""
print('hello CSE people')

hello CSE people

# PYTHON VARIABLES:
1.Variables are nothing but reserved memory locations to store values.

2.When we create a varaible ,automatically some space in memory is reserved.

3.Based on the data types the interpreter allocates the memory.

4.Varaible can take any data type such as integer,float numbers,strings etc.

In [ ]:
#exampl1:
#here 3 variables have been created and stored the values as shown below
a=50
b=50
c=a+b
print(c)

#example 2 on strings

x='hello'
x

100

'hello'

# Python Data types:

1.Integer data type

2.Float point numbers

3.Strings data type

4.Boolean data type

note:Python accepts all types datas as listed above.

# Python Data Structures

1.In python we have four types of data structures 

2.These data structures are very useful and important while working with advance topics such as machine learning ,data science.

1.List

2.Tuple

3.Dictionary

4.Sets

# 1.LISTS IN PYTHON:

*List is a python data structure 

*it is a combination of any data type.

*enclosed within [] and separated by commas(,).

*list is sequence of values called items or elements.

*list is similar arrays.

*list mutable.

*list is indexible.

In [ ]:
#Creating a list with constructor()
a=([1,2,3,4,5])
b=([2.4,7.0,6.8])
c=(['hello','students'])
print(a)
print(b)
print(c)

[1, 2, 3, 4, 5]
[2.4, 7.0, 6.8]
['hello', 'students']

In [ ]:
type(a)

list

In [ ]:
#creating list with heterogenous data:

a=(['hello',8,9,20.77])
a

['hello', 8, 9, 20.77]

In [ ]:
#create list using range function:
L=list(range(0,6))
print(L)

[0, 1, 2, 3, 4, 5]

In [ ]:
#creating a list without constructor():

days=['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
days

['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']

In [ ]:
#accesing list items using index values:

days[1]

'tuesday'

In [ ]:
#negative indexing:

#creating a list without constructor():

days=['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
days[-1]

'sunday'

In [ ]:
days[:]

['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']

In [ ]:
#list slicing:
days[1:4]

['tuesday', 'wednesday', 'thursday']

In [ ]:
#list slicing with step size:

days=['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
days[1:4:2]

['tuesday', 'thursday']

# List built-in function:

![functions.png](attachment:functions.png)

In [ ]:
#example1:
days=['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
len(days)

7

In [ ]:
numbers=[1,2,3,4,5,6,7,8]
max(numbers)

8

In [ ]:
numbers=[1,2,3,4,5,6,7,8]
min(numbers)

1

In [ ]:
numbers=[1,2,3,4,5,6,7,8]
sum(numbers)

36

In [ ]:
import random
numbers=[1,2,3,4,5,6,7,8]
random.shuffle(numbers)
print(numbers)

[1, 8, 6, 7, 3, 5, 4, 2]

# List Operators

![list%20operators.png](attachment:list%20operators.png)

In [ ]:
#examples on operator:

a=[1,2,3]
b=[4,5,6]
c=a+b
print(c)

[1, 2, 3, 4, 5, 6]

In [ ]:
a=[10,20]
b=3*a
print(b)

[10, 20, 10, 20, 10, 20]

In [ ]:
days=['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
'wednesday' in days

True

In [ ]:
days=['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
'wednesday' not in days

False

In [ ]:
a='Arshiya'
b='Arshiya'
a is b

True

In [ ]:
a='Arshiya'
b='Lubna'
a is b

False

In [ ]:
days=['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
del[days[1]]
days

['monday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']

# List Methods:

![methods.png](attachment:methods.png)

In [ ]:
a=['a','b','c','d']
print(a)
a.append('e')
print(a)

['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd', 'e']

In [ ]:
list=['red','orange','pink','black']
print(list)
list.clear()
print(list)

['red', 'orange', 'pink', 'black']
[]

In [ ]:
nums=[1,2,3,4,1,4,1,7,8,1]
print(nums)
nums.count(1)

[1, 2, 3, 4, 1, 4, 1, 7, 8, 1]

4

In [ ]:
list_1=[1,2,3,4]
print(list_1)
list_2=list_1.copy()
print(list_2)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [ ]:
A=[1,3,2,4,5]
B=[5,6,7,3,6]
print(A)
print(B)
A.extend(B)
print(A)

[1, 3, 2, 4, 5]
[5, 6, 7, 3, 6]
[1, 3, 2, 4, 5, 5, 6, 7, 3, 6]

NOTE:we have many other methods such as index(),insert(),pop(),remove(),reverse(),sort() and so on.

# 2.PYTHON TUPLES

1.Tuple is another important data structures present in python.

2.Allow multiple data types.

3.Enclosed () and separated by commas(,).

4.Tuples are not mutable

5.Tuples are indexible

6.Tuples are ordered

In [1]:
#creating tuple with single element:

a=(5,)
print(a)
print(type(a))

(5,)
<class 'tuple'>

In [2]:
#creating tuple with integers
a=(1,2,3,4,5)
print(a)

(1, 2, 3, 4, 5)

In [3]:
#creating tuple with float numbers
b=(6.5,5.9,2.0)
print(b)

(6.5, 5.9, 2.0)

In [4]:
#creating tuple with strings
c=('one','two','three')
c

('one', 'two', 'three')

In [5]:
#creating tuple multiple data types
mix=('hello',708,66.8,1,2)
mix

('hello', 708, 66.8, 1, 2)

In [6]:
#accessing items of tuple

a=(1,2,3,4,'hello')
print(a[4])

hello

# Tuple Methods

![tuple%20methods.png](attachment:tuple%20methods.png)

# 3.Python Dictionary

1.Dictionaries are used to store the values in key-value pair.

2.It's a combination of keys and values

3.Elements are accessed based on the keys 

4.It is ordered,mutable,and dont allow duplicate elements.

5.Enclosed within {} with key value pair

In [ ]:
#create a dictionary
a={
    'name':'joy',
    'age':23,
    'education':'Engineer'
}
print(a)

{'name': 'joy', 'age': 23, 'education': 'Engineer'}

In [ ]:
len(a)

3

In [ ]:
type(a)

dict

In [ ]:
x=a.keys()
x

dict_keys(['name', 'age', 'education'])

In [ ]:
y=a.values()
y

dict_values(['joy', 23, 'Engineer'])

In [ ]:
z=a.items()
z

dict_items([('name', 'joy'), ('age', 23), ('education', 'Engineer')])

# Dictionary methods:

![dict%20methods.png](attachment:dict%20methods.png)

# 4.Python Sets:

1.Sets are used to store multiple items in a single variable.

2.Sets are enclosed withing {}.

3.Sets are unordered,not mutable and unidexible.

4.Sets items are unchangable but we can remove and add new items.

In [ ]:
#Example:
set1={1,2,3,4}
print(set1)

{1, 2, 3, 4}

In [ ]:
3duplicates not allowed
set={1,2,3,4,5,6,7,1,1}
set

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
len(set)

7

In [ ]:
type(set)

set

# Set Methods:

![set%20methods.png](attachment:set%20methods.png)

Note:We have still more methods in sets in the above table few are discussed.Please for more info refer this link(https://www.w3schools.com/python/python_sets.asp)

# Python Operators

In [ ]:
We have various python operators whcih are useful in performing various operations.

Operators:
1.Arthematic operators
2.Comparison operators
3.Logical operators
4.Assignment operators
5.Special operators
a.Identity operators
b.Membership operators

1.Arthematic operators

![AO.png](attachment:AO.png)

2.Comparison operators

a -first operand

b-second operand

![CO.png](attachment:CO.png)

3.Logical operators

![LO.png](attachment:LO.png)

4.Assignemnt operators

![ASSIGN%20o.png](attachment:ASSIGN%20o.png)

5.SPECIAL OPERATORS

1.Identity operators:
    
    *Used to check if the two values are located on the same part of the memory.
    
    *Returns true or false depending on conditions.
    
    *two identity operators are 'is' and 'is not'.
    
 2.Membership operators:
 
 *used to check whether a value is found in a sequence.
 
 *two membership operators are 'in' and 'not in'.

CONTROL FLOW IN PYTHON:

   1.if statement

   2.if-else statement

   3.nested if statement

   4.if-elif statement

LOOPS:

 1.for loop
 
 2.while loop

# Python functions

1.Python functions is a block of statements that peforms a specific task.

2.Get executed when the function is called.

3.goal is to put dome repeatedly done task together and make aa function ,so instead of writing the same code againa nd again for different inputs ,we can perform the function calls to reuse the code contained in the function.

4.functions are defined by using "def" keyword.

5.We have 2 types of functions:

a.User-defined function

b.Built-in function

Syntax:

    def function_name(parameters):
        ####statements
    function_name(arguments)

In [ ]:
def add():
    a=2
    b=3
    sum=a+b
    return sum
add()
print(add())

1.Built-in function:
    
*python predefined functions that are readily available.

*such as min(),max(),print(),sum() etc

2.User-defined functions:

*functions that are defined by user to perform a specific task

3.Anonymous function:

*function that we define without a name.

*anonymous functions are also called as lambda function.

*they are not declared without def keyword.

In [ ]:
function modularity:
    
def collectdata():
    'function to collect data'
    statement(s)
    
def cleandata():
    'function to clean data'
    statement(s)
def processdata():
    'function to pre-process the data'
    statement(s)
def exploredate():
    'function to explore data'
    statement(s)
def visualization():
    'function to viasualize data'
    statement(s)
    
#main program:
collectdata()
cleandata()
processdata()
exploredata()
visualization()

*Question1 : Read the ages of people in a village. For ages between 1 to 5 store the string "infant", between 6 to 13 store the string "child", between 14 to 18 store the string "teen", between 19 to 35 store the string "young", between 36 to 60 store the string "adult" and above 60, store the string "senior citizen". Print the resultant list. *

In [7]:
ages = []
nop = int(input("Enter the total number of people in the village"))
for i in range(nop):
  a = int(input("Enter an age"))
  ages.append(a)
for i in range(nop):
  if ages[i] >=1 and ages[i] <=5:
    ages[i]= "infant"
  elif ages[i] >=6 and ages[i] <=13:
    ages[i] = "child"
  elif ages[i] >=14 and ages[i] <=18:
    ages[i] = "teen"
  elif ages[i] >=19 and ages[i] <=35:
    ages[i] = "young"
  elif ages[i] >=36 and ages[i] <=60:
    ages[i] = "adult"
  else:
    ages[i] = "senior citizen"
print("The Output List is \n")
for i in ages:
  print(i,"\n")

Enter the total number of people in the village3
Enter an age32
Enter an age34
Enter an age10
The Output List is

young

young

child

Question 2 : Using List Comprehension, print the squares of the numbers from 1 to 10

In [8]:
[x ** 2  for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Question 3: USing list Comprehension print the squares of only the positive numbers in a given list [-1, 1,2,-2, -3, 3, -4, 4]

In [14]:
nums = [-1,1,2,-2,-3,3,-4,4]
[ x ** 2  for x in nums  if x >=0]

[1, 4, 9, 16]

Question 4: Read the marks of 5 students in a course as a tuple. Print the highest, lowest and average of the input.

In [15]:
# Method 1 to read a tuple using eval()
#marks = eval(input("Enter the 5 marks as a ()"))
#Method 2 to read a tuple using for and merge operator
marks = ()
for i in range(5):
  m = int(input("Enter a mark"))
  marks = marks + (m,)
sum = 0
for i in marks:
  sum = sum + i
print("Highest is : \n", max(marks))
print("Lowest is : \n", min(marks))
print("Average is : \n", sum/5)

Enter a mark10
Enter a mark20
Enter a mark30
Enter a mark40
Enter a mark50
Highest is :
 50
Lowest is :
 10
Average is :
 30.0

Question 5: Excersises using Nested Data Structures. Read n integers from the user as a tuple. Create a tuple of tuples with each input item and its count. Sample Input : (1,2,1,3,4,2,4) Output : ((1,2), (2,2), (3,1), (4,2))

In [18]:
n = int(input("Enter the number of numbers"))
nums = ()
for i in range(n):
  n1 = int(input("Enter a number"))
  nums = nums + (n1,)
print("The input numbers are: \n", nums)
out = ()
unique = []
for i in nums:
  if i not in unique:
    unique.append(i)
for i in unique:
  out = out + ((i, nums.count(i)), )
print("Output is:\n", out)

Enter the number of numbers3
Enter a number1
Enter a number3
Enter a number5
The input numbers are:
 (1, 3, 5)
Output is:
 ((1, 1), (3, 1), (5, 1))

*Question 6: Read student names of two classes using a list of tuples, one tuple for each class. Within each class, assume there are multiple students with the same name. Program should then remove such duplicates in each class. * Sample Input : [('John', 'Jashwant', 'John'), ('Joel', 'Rahul', 'Joel', 'Boomika')] Output : [('John','Jashwant'), ('Joel', 'Rahul', 'Boomika')]

In [19]:
names = eval(input("Enter the student names of two classes as [()]"))
out_list = []
for tuple_names in names:
  #create a tuple of unique names
  unique_names = ()
  for j in tuple_names:
    if j not in unique_names:
      unique_names = unique_names + (j,)
  #append this tuple with unique names to the output list
  out_list.append(unique_names)
print("The list with duplicates removed is : \n", out_list)

Enter the student names of two classes as [()][('John', 'Jashwant', 'John'), ('Joel', 'Rahul', 'Joel', 'Boomika')]
The list with duplicates removed is :
 [('John', 'Jashwant'), ('Joel', 'Rahul', 'Boomika')]

Question 7: Create a shopping list with details of fruits purchased as a list of tuples. Each tuple should be(fruit_name, fruit_weight). Print the following outputs : 1. Print the list in alphabetical order of fruit names.

Print the list in ascending order of fruit weights.
Print the list in descending order of fruit weights. Sample Input : [('Grapes', 5), ('Apple', 3), ('Orange', 4)] Output 1 : [('Apple', 3), ('Grapes', 5), ('Orange', 4)] Output 2 : [('Apple',3), ('Orange', 4), ('Grapes', 5)] Output 3: [('Grapes', 5), ('Orange', 4), ('Apple', 3)] bold text

In [ ]:
import operator
shopping_list = []
while (1):
  #read fruit details as a tuple, terminate when empty tuple is input
  item = eval(input("Enter the next fruit as a ()"))
  if item == ():
    break
  else:
    shopping_list.append(item)
print("The shopping list is : \n", shopping_list)
output1 = sorted(shopping_list)
print("The list in ascending order of fruit names is : \n", output1)
output2 = sorted(shopping_list, key = operator.itemgetter(1))
print("The list in ascending order of fruit weights is : \n", output2)
output3 = sorted(shopping_list, key = operator.itemgetter(1), reverse = True)
print("The list in descending order of fruit weights is : \n", output3)

# NOTE(IMP):
1.I request all the students to go through the basics of python.

2.This notebook just covers basics for refreshing the topics what you have studied in previous semester.

3.Requesting to be very thorough with python concepts

4.Python is essential and pre-requisit for machine learning.