<a href="https://colab.research.google.com/github/udayshekar26/sampleupload/blob/main/midterm_part_b(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import files 
uploaded = files.upload()

Saving studentdata_midterm - PART B.csv to studentdata_midterm - PART B.csv

In [3]:
df= pd.read_csv('studentdata_midterm - PART B.csv')

In [5]:
df.head(15)

   studentid studentname    fees dateofadmission
0        100     Gowtham  100000      10-10-2000
1        101      Aparna  230000       3-20-2002
2        102      Gaurav  145000      03-03-2002
3        103     Chandra  165000      09-10-2000
4        104    Prasanna  125000      10-08-2000
5        105      Ananya   99995      09-09-1999

In [7]:
df['studentid']

0    100
1    101
2    102
3    103
4    104
5    105
Name: studentid, dtype: int64

In [9]:
df.shape

(6, 4)

In [10]:
x = df['fees']

In [11]:
max(x)

230000

In [12]:
min(x)

99995

In [13]:
print(x>20000)

0    True
1    True
2    True
3    True
4    True
5    True
Name: fees, dtype: bool

In [26]:
print(df[df['fees']>200000])

   studentid studentname    fees dateofadmission
1        101      Aparna  230000       3-20-2002

In [30]:
df.sort_values(by=['dateofadmission'])

   studentid studentname    fees dateofadmission
2        102      Gaurav  145000      03-03-2002
5        105      Ananya   99995      09-09-1999
3        103     Chandra  165000      09-10-2000
4        104    Prasanna  125000      10-08-2000
0        100     Gowtham  100000      10-10-2000
1        101      Aparna  230000       3-20-2002

In [28]:
df.loc[::]

   studentid studentname    fees dateofadmission
0        100     Gowtham  100000      10-10-2000
1        101      Aparna  230000       3-20-2002
2        102      Gaurav  145000      03-03-2002
3        103     Chandra  165000      09-10-2000
4        104    Prasanna  125000      10-08-2000
5        105      Ananya   99995      09-09-1999